.footer{
    background-color: rgb(1, 96, 100);
    color: white;
    cursor: default;
    padding:20px 0 10px 0;
}

.footer_h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    
}

.footer_text{
    margin-left: 5%;
    margin-bottom: 20px;
}

.footer_text_number{
    font-size: 25px;
    margin-bottom: 4px;
    font-weight: 600;
}

.footer_text_male{
    font-size: 20px;
}

.footer_apps{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.footer_app{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.footer_app_img{
    width:60px;
    height:60px;
}

@media (max-width:850px){
    .footer_h2{
        font-size: 24px;
    }

    .footer_text_number{
        font-size: 19px;
    }
    
    .footer_text_male{
        font-size: 14px;
    }

    .footer_app_img{
        width:50px;
        height:50px;
    }
}

@media (max-width:500px){
    .footer_h2{
        font-size: 22px;
    }

    .footer_text_number{
        font-size: 18px;
    }
    
    .footer_app_img{
        width:40px;
        height:40px;
    }
}