@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

body{
    margin: 0;
    padding: 0;
    /* font-family: 'Seymour One', sans-serif; */
    font-family: Monospace, sans-serif;
    font-style: normal;
}